body {
    font-family: 'Microsoft Yahei', Sans-Serif;
    background: rgb(242, 242, 242);
}
a:hover{
    text-decoration: none;
}
hr {
    border-top:2px solid #cccccc;
}
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.28);
}

.navbar-brand img {
    width: 50px;
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline;
    margin: -10px 0 0 0;
    padding: 0px 5px;
}

.navbar-brand {
    font-size: 22px;
    font-weight: 600;
}

.navbar-default .navbar-nav > li > a {
    font-size: 16px;
    font-weight: bold;
    color: #666;
}

#myCarousel .img-responsive {
    padding: 70px 0px 20px 0px;
    /*min-height: 400px;*/
}

.carousel-control.right ,
.carousel-control.left{
    background-image: none;
}

.carousel-caption{
    font-size: 20px;
    font-weight: 600;
}

#classify ,
#recommend,
#about{
    margin: 50px -20px;
}

.classify {
    padding: 10px 0px;
    margin: 10px 0px 10px 0px;
    width: 100%;
    display: block;
    border: 1px;
    border-radius: 8px;
    box-shadow: 1px 2px 1px #eeeeee;
    background: #ffffff;
    font-size: 20px;
    color: #000000;
    text-align: center;
    line-height: 40px;
}

.classify img {
    width: 40px;
    height: 40px;
    margin: 0px 5px 0px 0px;
}

.classify a {
    flood-color: #000000;
    font-size: 15px;
}

#recommend .col-md-6 {
    /*width: 280px;*/
    display: block;
    padding: 0px;
    text-align: center;
    margin: 20px 0;
}

.recommend {
    background: #ffffff;
    margin: 0 5px;
    padding: 10px 0 50px 0;
    box-shadow:0px 1px  1px 2px #eeeeee ;
    -moz-transition: all 300ms ease-out;
}

.recommend P,
.recommend h3{
    padding: 0 50px;
    color: #111111;
}

.recommend img:hover{
        transform: translate(0, -4px);
        box-shadow:0px 5px  5px 5px #dddddd ;
    }

#recommend img{
    margin: 0 auto;
    padding: 0 5px;
}
#recommend .col-md-8 .row{
margin: 0px -5px 0px -5px;
}
#recommend p{
    margin: 10px 10px;
}

#about img{
    margin: 20px auto;
    width: 200px;
    height: 200px;
}

#about .col-md-6{
    padding: 0px;
}

.end {
    padding: 0px 0px 30px 0px;
    font-size: 25px;
    color: #aaaaaa;
}
@media (min-width: 770px) {
    #classify .col-xs-4 :hover {
        background: rgb(78, 200, 255);
        text-decoration: none;
        color: #ffffff;
    }

}

@media (max-width: 991px) {
    #classify .col-md-8{
        margin: 0px 20px 0px 20px;
    }
    #recommend .col-md-8,
    #about .col-md-8{
        margin: 0px 10px 0px 10px;
    }
    #recommend .col-md-6{
        margin: 0px 0px 20px 0px;
    }
    #footer .end{
        font-size: 16px;
    }
    #Rolling-graph img{
        width: 100%;
        height: 400px;
    }
    .recommend P,
    .recommend h3{
    padding: 0 10px;
}
}

@media (max-width: 400px) {
    .classify img {
        width: 30px;
        height: 30px;
    }

    .col-xs-4, .col-sm-2 {
        padding: 5px;
    }
}


#header{
    min-height: 400px;
}
